services:
  api:
    build:
      context: ./backend
    env_file:
      - ./.env
    depends_on:
      - redis
    ports:
      - "8000:8000"

  redis:
    image: redis:7.2-alpine
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    ports:
      - "6379:6379"

  frontend:
    build:
      context: ./frontend
    depends_on:
      - api
    ports:
      - "8080:80"
